<!DOCTYPE html>
{% extends 'recipe_app/base.html' %}
    {% block body_block %}
    {% load static %}
    <div class= 'container'>
        <div class= 'jumbotron mt-5'>
           <h1>Find All The Recipes You Need!</h1>
           <p>In development.....</p>
        </div>

        <div>
            <p></p>
            <h3>List of Users</h3>
            {% if users %}
                <ol>
                {% for user in users %}
                
                    <li>{{ user.username }}</li>
                        <ul>
                            <li>{{ user.email }}</li>
                        </ul>
                {% endfor %}
                </ol>
            {% else %}
                <p>No Users</p>
            {% endif %}

            <img src="{% static 'images/hamburger.jpg' %}" alt="No hamburger"   >
    {% endblock %}